@use "../styles/reset";
@use "../styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

html,
body {
  font-family: $font-family;
  color: $color-text-body;
  background: $color-bg;
}
